@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body,
tr,
td,
th,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
}

table table {
  font-size: 90%;
}

#container {
  max-width: 1024px;
  border: 1px solid lightgrey;
  padding: 20px;
  margin: auto;
}

.error {
  color: red;
  padding: 5px;
  margin: 10px 0;
  border-top: 1px solid #eb062c;
  border-bottom: 1px solid #eb062c;
}

.red {
  color: red;
}

.green {
  color: green;
}

.success {
  color: green;
  padding: 5px;
  margin: 10px 0;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
}

hr {
  border-top: 1px solid lightgrey;
  border-bottom: none;
  margin: 10px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}

th,
td {
  border: 1px solid lightgrey;
  padding: 5px;
  text-align: left;
}

.card {
  padding: 10px;
  border: 1px solid lightgrey;
  margin-top: 10px;
}

.panels {
  display: flex;
  flex: auto;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 10px;
}

.panels div {
  flex: auto;
  border: 1px solid lightgrey;
  padding: 10px;
}

.icon {
  width: 60px;
  text-align: center;
}

.center {
  text-align: center;
  padding: 5px 0;
}

.left {
  text-align: left;
  padding: 5px 0;
}

.right {
  text-align: right;
  padding: 5px 0;
}

label {
  display: block;
  margin: 10px 0;
}

input,
select,
textarea,
input[type="file"]::file-selector-button {
  margin-top: 5px;
  width: 100%;
  padding: 2px 3px;
  box-sizing: border-box;
}

input[type="file"] {
  padding: 0;
  margin: 0;
}

input[type="checkbox"] {
  display: inline;
  width: auto;
}

textarea {
  height: 120px;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: #ff8e00;
  white-space: nowrap;
}

.calendar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: 700;
}

.calendar-month {
  margin-bottom: 10px;
  font-weight: 700;
}

/* ==== Main Header CSS ==== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.site-name {
  font-weight: bold;
}

.city-form {
  margin: 0;
}

.user-info {
  margin-right: 10px;
}

/* ==== My Account Page ==== */
.account-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar {
  flex-shrink: 0;
}

.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.account-details {
  flex-grow: 1;
}

.account-details label {
  display: block;
  margin-bottom: 10px;
}

.account-details input[type="text"],
.account-details input[type="email"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  box-sizing: border-box;
}

#updateButton {
  margin-top: 10px;
}

#saveButton {
  margin-top: 10px;
}
